/* Common change */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkgrey;
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }

.wrapper > * {
    flex: 1 100%;
  }

/***************/
/* header */
.header {
    font-size: 24px;
    color: rgb(107, 96, 96);
    padding-bottom: 20px;
}

/***************/
/*left sidebar*/
.sidebar_left {
    font-size: 20px;
    flex: 1;
    color: rgb(116, 110, 110);
}

#padd {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
/*Text box*/
input[type = text] {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    opacity: 0.5;
    height: 25px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-top: 1.5px solid grey;
    border-left: 1.5px solid grey;
    border-radius: 4px;
}

.input_but {
    padding-bottom: 20px;
}

/*Button*/
input[type = submit] {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    width: 110px;
    height: 32px;
    background: #5f5f5f;
    color: white;
    border-radius: 5px;
}

/*RadioButtons*/
.input_radio {
    font-size: 16px;
    text-align: left;
    color: darkgrey;
}
.input_radio input{
    opacity: 0;
    position: absolute;
}

.input_radio p{
    display: flex;
    position: relative;
    top: -13px;
    left: 15px;
}

.check {
    height: 20px;
    width: 20px;
    background-color:white;
    border-radius: 50%;
    border: 2px solid grey;
}

.radio {
    display: flex;
    position: relative;
    padding-left: 30px;
    padding-top: 1px;
    margin-bottom: -30px;
}

.input_radio input:checked ~ .check {
    background-color: grey;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.check:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
.input_radio input:checked ~ .check:after {
    display: block;
}

  /* Style the indicator (dot/circle) */
.input_radio .check:after {
    top: 9px;
    left: 18px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/*Right sidebar*/
.sidebar_right {
    font-size: 20px;
    flex: 1;
    text-align: center;
    color: rgb(116, 110, 110);
}